/* @import-normalize;  */
/* bring in normalize.css styles */

html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

:root {
--main-bgcolor: #dee5e8;
--firstly-bgcolor: #ffffff;
--secondary-bgcolor: #eceded;
--gray-textcolor: #9f9f9f;
--light-textcolor: #ffffff;
--dark-textcolor: #212022;
--border-color: #bec8c8;
--main-shadow:3px 3px 5px #00000040,
  0 5px 5px #00000038;
}


h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

ul{
  list-style: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--main-bgcolor);
  color: var(--dark-textcolor);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
